.figma {
  /* Desktop - 1 */

  position: static;
  width: 1440px;
  height: 1023px;
  left: 0px;
  top: 0px;

  background: #f8f9fc;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;

  /* Frame 28 */

  position: absolute;
  width: 1440px;
  height: 780px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.580838) 32.24%,
      rgba(0, 0, 0, 0.486293) 62.09%,
      rgba(0, 0, 0, 0) 98.06%
    ),
    url(landscape-shot-beautiful-cholatse-mountains-body-water-khumbu-nepal.jpg),
    url(young-skier-motion-with-beautiful-winter-landscape.jpg);

  /* Frame 2 */

  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;

  /* Frame 45 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 184px;
  height: 40px;
  left: 120px;
  top: 30px;

  /* Group 44 */

  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* Ellipse 5 */

  box-sizing: border-box;

  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;

  border: 0.5px dashed #ffffff;

  /* flight_black_24dp 3 */

  position: absolute;
  width: 22.86px;
  height: 22.86px;
  left: 20px;
  top: 4px;

  transform: rotate(45deg);

  /* Vector */

  position: absolute;
  left: 70.71%;
  right: -70.71%;
  top: 0%;
  bottom: 0%;

  transform: rotate(45deg);

  /* Vector */

  position: absolute;
  left: 70.71%;
  right: -49.88%;
  top: 11.79%;
  bottom: 4.88%;

  background: #3e86f5;
  transform: rotate(45deg);

  /* Arctic Travels */

  position: static;
  width: 134px;
  height: 30px;
  left: 50px;
  top: 5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  letter-spacing: -0.03em;

  /* White-primary */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;

  /* Frame 1 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 270px;
  height: 15px;
  left: 602px;
  top: 42px;

  /* About Us */

  position: static;
  width: 63px;
  height: 21px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* White-primary */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 40px;

  /* Support */

  position: static;
  width: 56px;
  height: 21px;
  left: 103px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* White-primary */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 40px;

  /* Language */

  position: static;
  width: 71px;
  height: 21px;
  left: 199px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* White-primary */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 40px;

  /* Frame 20 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;

  position: absolute;
  width: 151px;
  height: 48px;
  left: 1169px;
  top: 27px;

  /* White-primary */
  background: #ffffff;
  border-radius: 10px;

  /* Sign In */

  position: static;
  width: 48px;
  height: 21px;
  left: 51.5px;
  top: 13.5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* Blue-primary */
  color: #3e86f5;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* Group 48 */

  position: absolute;
  width: 762px;
  height: 169px;
  left: 339px;
  top: 240px;

  /* Plan the perfect winter trip */

  position: absolute;
  width: 762px;
  height: 73px;
  left: 339px;
  top: 240px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  /* identical to box height, or 73px */
  letter-spacing: -0.03em;
  text-transform: capitalize;

  color: #ffffff;

  /* Easily plan your ideal ski trip from home with the help of professionals */

  position: absolute;
  width: 529px;
  height: 68px;
  left: 456px;
  top: 341px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  /* or 34px */
  text-align: center;
  letter-spacing: -0.01em;

  /* White-primary */
  color: #ffffff;

  /* Frame 29 */

  position: absolute;
  width: 1200px;
  height: 140px;
  left: 120px;
  top: 714px;

  background: #ffffff;
  box-shadow: 0px 134px 193px rgba(183, 183, 183, 0.07),
    0px 16.7789px 24.1666px rgba(183, 183, 183, 0.035);
  border-radius: 16px;

  /* Group 36 */

  position: absolute;
  width: 213px;
  height: 63px;
  left: 24px;
  top: 40px;

  /* Frame 37 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 213px;
  height: 63px;
  left: 24px;
  top: 40px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 126px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;

  /* map-pin */

  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;

  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 4.17%;
  bottom: 4.17%;

  border: 1.5px solid #3e86f5;

  /* Vector */

  position: absolute;
  left: 37.5%;
  right: 37.5%;
  top: 29.17%;
  bottom: 45.83%;

  border: 1.5px solid #3e86f5;

  /* LOCATION */

  position: static;
  width: 90px;
  height: 24px;
  left: 36px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.08em;

  color: #929191;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 94px;
  height: 27px;
  left: 0px;
  top: 36px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;

  /* Iceland */

  position: static;
  width: 68px;
  height: 27px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;

  /* chevron-down */

  position: static;
  width: 24px;
  height: 24px;
  left: 70px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2px;

  /* Vector */

  position: absolute;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;

  border: 1.5px solid #666666;

  /* Group 37 */

  position: absolute;
  width: 217px;
  height: 63px;
  left: 256px;
  top: 38px;

  /* Frame 37 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 217px;
  height: 63px;
  left: 256px;
  top: 38px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 116px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;

  /* user */

  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;

  /* Vector */

  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 62.5%;
  bottom: 12.5%;

  border: 1.5px solid #00c07b;

  /* Vector */

  position: absolute;
  left: 33.33%;
  right: 33.33%;
  top: 12.5%;
  bottom: 54.17%;

  border: 1.5px solid #00c07b;

  /* PERSONS */

  position: static;
  width: 80px;
  height: 24px;
  left: 36px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.08em;

  color: #929191;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 114px;
  height: 27px;
  left: 0px;
  top: 36px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;

  /* 4 Persons */

  position: static;
  width: 88px;
  height: 27px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;

  /* chevron-down */

  position: static;
  width: 24px;
  height: 24px;
  left: 90px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2px;

  /* Vector */

  position: absolute;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;

  border: 1.5px solid #666666;

  /* Group 38 */

  position: absolute;
  width: 217px;
  height: 63px;
  left: 492px;
  top: 41px;

  /* Frame 37 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 217px;
  height: 63px;
  left: 492px;
  top: 41px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 120px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;

  /* calendar */

  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;

  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 16.67%;
  bottom: 8.33%;

  border: 1.5px solid #cc0024;

  /* Vector */

  position: absolute;
  left: 66.67%;
  right: 33.33%;
  top: 8.33%;
  bottom: 75%;

  border: 1.5px solid #cc0024;

  /* Vector */

  position: absolute;
  left: 33.33%;
  right: 66.67%;
  top: 8.33%;
  bottom: 75%;

  border: 1.5px solid #cc0024;

  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 41.67%;
  bottom: 58.33%;

  border: 1.5px solid #cc0024;

  /* CHECK IN */

  position: static;
  width: 84px;
  height: 24px;
  left: 36px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.08em;

  color: #929191;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 171px;
  height: 27px;
  left: 0px;
  top: 36px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;

  /* 12 January 2022 */

  position: static;
  width: 145px;
  height: 27px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;

  /* chevron-down */

  position: static;
  width: 24px;
  height: 24px;
  left: 147px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2px;

  /* Vector */

  position: absolute;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;

  border: 1.5px solid #666666;

  /* Group 39 */

  position: absolute;
  width: 217px;
  height: 63px;
  left: 728px;
  top: 41px;

  /* Frame 37 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 217px;
  height: 63px;
  left: 728px;
  top: 41px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 138px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;

  /* calendar */

  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;

  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 16.67%;
  bottom: 8.33%;

  border: 1.5px solid #cc0024;

  /* Vector */

  position: absolute;
  left: 66.67%;
  right: 33.33%;
  top: 8.33%;
  bottom: 75%;

  border: 1.5px solid #cc0024;

  /* Vector */

  position: absolute;
  left: 33.33%;
  right: 66.67%;
  top: 8.33%;
  bottom: 75%;

  border: 1.5px solid #cc0024;

  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 12.5%;
  top: 41.67%;
  bottom: 58.33%;

  border: 1.5px solid #cc0024;

  /* CHECK OUT */

  position: static;
  width: 102px;
  height: 24px;
  left: 36px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.08em;

  color: #929191;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 172px;
  height: 27px;
  left: 0px;
  top: 36px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;

  /* 18 January 2022 */

  position: static;
  width: 146px;
  height: 27px;
  left: 0px;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 2px;

  /* chevron-down */

  position: static;
  width: 24px;
  height: 24px;
  left: 148px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2px;

  /* Vector */

  position: absolute;
  left: 25%;
  right: 25%;
  top: 37.5%;
  bottom: 37.5%;

  border: 1.5px solid #666666;

  /* Frame 20 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 39px;

  position: absolute;
  width: 213px;
  height: 64px;
  left: 964px;
  top: 38px;

  background: #3e86f5;
  border-radius: 10px;

  /* Book Trip */

  position: static;
  width: 75px;
  height: 24px;
  left: 51.5px;
  top: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  /* White-primary */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  /* flight_black_24dp 1 */

  position: static;
  width: 25px;
  height: 25px;
  left: 161.5px;
  top: 19.5px;

  transform: rotate(90deg);

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;

  /* Vector */

  position: absolute;
  left: 100%;
  right: -100%;
  top: 0%;
  bottom: 0%;

  transform: rotate(90deg);

  /* Vector */

  position: absolute;
  left: 91.67%;
  right: -70.83%;
  top: 8.33%;
  bottom: 8.33%;

  background: #ffffff;
  transform: rotate(90deg);

  /* Frame 36 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 996px;
  height: 72px;
  left: 222px;
  top: 918px;

  /* Group */

  position: static;
  left: 0%;
  right: 90.39%;
  top: 15.28%;
  bottom: 15.28%;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 45px;

  /* Vector */

  position: absolute;
  left: 1.3%;
  right: 95.39%;
  top: 15.39%;
  bottom: 38.58%;

  background: #cccccc;

  /* Vector */

  position: absolute;
  left: 0%;
  right: 90.39%;
  top: 36.88%;
  bottom: 15.28%;

  background: #cccccc;

  /* Vector */

  position: absolute;
  left: 1.55%;
  right: 92.06%;
  top: 15.28%;
  bottom: 39.41%;

  background: #cccccc;

  /* Vector */

  position: absolute;
  left: 3.74%;
  right: 92.14%;
  top: 15.39%;
  bottom: 48.57%;

  background: #cccccc;

  /* apple-pay-logo-svgrepo-com 1 */

  position: static;
  width: 96px;
  height: 56px;
  left: 216.06px;
  top: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 45px;

  /* Vector */

  position: absolute;
  left: -0.02%;
  right: 72.17%;
  top: 16.5%;
  bottom: 24.64%;

  background: #cccccc;

  /* Group */

  position: absolute;
  left: 33.42%;
  right: -0.25%;
  top: 20.64%;
  bottom: 10.36%;

  /* Vector */

  position: absolute;
  left: 33.42%;
  right: -0.25%;
  top: 20.64%;
  bottom: 10.36%;

  background: #cccccc;

  /* silver-star-1-logo-svgrepo-com 1 */

  position: static;
  width: 138.96px;
  height: 72px;
  left: 432.41px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 45px;

  /* Group */

  position: absolute;
  left: 4.41%;
  right: 4.53%;
  top: 10.46%;
  bottom: 9.7%;

  /* Vector */

  position: absolute;
  left: 4.41%;
  right: 4.53%;
  top: 10.46%;
  bottom: 9.7%;

  background: #cccccc;

  /* intrax-logo-svgrepo-com 1 */

  position: static;
  width: 119.92px;
  height: 64px;
  left: 691.72px;
  top: 4px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 45px;

  /* Group */

  position: absolute;
  left: 1.47%;
  right: 1.59%;
  top: 13.61%;
  bottom: 13.84%;

  /* Vector */

  position: absolute;
  left: 74.08%;
  right: 1.59%;
  top: 13.61%;
  bottom: 40.49%;

  background: #cccccc;

  /* Vector */

  position: absolute;
  left: 1.47%;
  right: 8.21%;
  top: 13.72%;
  bottom: 13.84%;

  background: #cccccc;

  /* mastercard-2-logo-svgrepo-com 1 */

  position: static;
  width: 64px;
  height: 64px;
  left: 932px;
  top: 4px;

  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 45px;

  /* Vector */

  position: absolute;
  left: 5.18%;
  right: 1%;
  top: 76.96%;
  bottom: 11.09%;

  background: #231f20;

  /* Vector */

  position: absolute;
  left: 96.44%;
  right: 0.95%;
  top: 59.96%;
  bottom: 38.84%;

  background: #f79410;

  /* Vector */

  position: absolute;
  left: 36.49%;
  right: 36.47%;
  top: 17.71%;
  bottom: 33.69%;

  background: #757575;

  /* Vector */

  position: absolute;
  left: 0%;
  right: 50%;
  top: 11.1%;
  bottom: 27.08%;

  background: #4b4b4b;

  /* Vector */

  position: absolute;
  left: 50.01%;
  right: -0.01%;
  top: 11.1%;
  bottom: 27.08%;

  background: #a9a9a9;
}
