.head {
    margin: 0;
    border: 0;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 255, 0);
    background: none;
    width: 100%;
    z-index: 3;
    color: white;
}

.flight {
    width: 1.3em;
    height: fit-content;
    rotate: -30deg;
    border-radius: 50%;
    border: 0.5px dashed white;
    padding: 0.4em;
    margin-right: 0.8em;
    color: rgb(11, 11, 224);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.custom-title-wrapper {
    display: flex;
    margin-right: 4em;
    align-items: center;
    justify-content: center;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.item {
    margin-right: 5px;
}
